.navbar{
    display: flex;
    background-color: black;
    padding: 20px 10px;
    position: fixed;
    width: 99%;
    align-items:center;
    justify-content: flex-end;

}
.navbar a {
    color: beige;
    margin-right: 1em;
    text-decoration: none;
    transition: .3s;
}
.navbar a:hover{
    color: gold;
}


@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px;
    }
    
    .navbar a {
        margin-right: 0.5em;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
        align-items: flex-start;
    }
    
    .navbar a {
        margin-right: 0;
        margin-bottom: 0.5em;
        font-size: 0.8em;
    }
}