.navbar{
    display: flex;
    background-color: black;
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    align-items:right;
    justify-content: right;
}
.navbar a {
    color: beige;
    margin-right: 1em;
    text-decoration: none;
    transition: .3s;
}
.navbar a:hover{
    color: gray;
}