.prod{
    background-image: url(../images/history.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.prod0{
    background-color: black;
    color: gold;
    font-size: 1.5em;
    border: 0;
    border-radius: 12px;
    padding: 5px 5px;
}
.prod1{
    color: black;
    font-size: 1.3em;

}
.prod2{
    font-size: 1.2em;
    color: black;
}
.buttom2{
    background-color: gold;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 600px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}
.buttom2:hover{
    background-color: black;
    color: gold;
}